.board {
    width: 100%;
    max-width: 700px;
    height: auto;
    position: relative;
    margin: auto;
    margin-bottom: 30px;
}

.card {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    background-color: #4b258a;
    margin-right: 6px;
    margin-bottom: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}

.unflipped {
    opacity: 0;
}

.visible {
    opacity: 1;
}

.disabled {
    pointer-events: none;
  }

.hidden {
    display: none;
}